extends ../layout

block content
    div(class='container')
        h4.
            #{task.name}
        form(action='/tasks/'+task.id,method='POST',name='updatetask',enctype='application/x-www-form-urlencoded')
            div(class='row')
                label(for='name', class='col-sm-2 col-form-label') ID
                div(class='col-sm-10')
                    | #{task.id}
            div(class='row')
                label(for='name', class='col-sm-2 col-form-label') Name
                div(class='col-sm-10')
                    input#inputName(type='text', value= task.name, name='name')
            div(class='row')
                label(for='description', class='col-sm-2 col-form-label') Description
                div(class='col-sm-10')
                    textarea#description( name="description", rows="6", cols="66", class="materialize-textarea")
                        | #{task.description}
            div(class='row')
                input(type='checkbox', name='completed', disabled='disabled', checked=('task.completed'==='true' ? "checked" : undefined))
                label(for="completed") Completed
            div(class='row')
                label(for='Owner', class='col-sm-2 col-form-label') Owner
                div(class='col-sm-10')
                    input#inputOwner(type='text', value= task.owner.alias, name='owner', disabled='disabled')
            label(class='col-sm-2 col-form-label') Families
            div(class='row')
                each family in families
                    p
                        input#inputFamily(class='with-gap', type='radio', name='itemfamily', value= family.id, checked=('task.family'==='family.id' ? "checked" : ""))
                        label(for="itemfamily") #{family.name}
            - var assgn_placeholder = Unassigned
            if typeof(task.assignee) != 'undefined'
                if task.assignee != null
                    - var assgn = task.assignee.alias
            div(class='row')
                label(for='assignee', class='col-sm-2 col-form-label') Assignee
                div(class='input-field col s12')
                    select#inputAssigneel(name='assignee')
                        option(value='-1' selected= true) None
                        each assignee, i in assignees
                            if task.assignee != null
                                option(value=assignee.id selected= task.assignee.id == assignee.id) #{assignee.alias}
                            else
                                option(value=assignee.id) #{assignee.alias}

            -function prettyDate(dateString) {
                -var date = new Date(dateString);
                -var dd = date.getDate();
                -var mm = date.getMonth()+1;
                -var yyyy= date.getFullYear();
                if dd<10
                    - dd = "0" + dd;
                if mm<10
                    - mm = "0" + mm;
                -return yyyy+"-"+mm+"-"+dd;
            -}

            div(class='row')
                label(for='duedate', class='col-sm-2 col-form-label') Due Date
                div(class='col-sm-10')
                    input.datepicker(type="date", value= prettyDate(task.duedate), name='duedate', data-date-format='yyyy-mm-dd', placeholder="Enter a due date")
            div(class='row')
                label(for='name', class='col-sm-2 col-form-label') Created
                div(class='col-sm-10')
                    | #{task.created}
            div(class='row')
                label(for='name', class='col-sm-2 col-form-label') Last Update
                div(class='col-sm-10')
                    | #{task.updated}
            p
                input(type='hidden',value='PUT',name='_method')

            div(class='row')
                div(class='offset-sm-2 col-sm-10')
                    button#btnSubmit(type='submit', class='btn btn-primary') Save
