extends ../layout

block content
   ul.collection.with-header
      li.collection-header
         h5
            | #{title}
      each task, i in tasks
         li.collection-item.avatar.hoverable
            img.circle(alt=task.assignee, src="imgs/"+ task.assignee +".png") 
            span.title
               a( href='/tasks/'+task.id )
                  | #{task.name}
            p.truncate
               | #{task.description}
            a.secondary-content
               span.new.badge.green(data-badge-caption="Pt")
                  | #{task.points.receive}
               span.new.badge.blue(data-badge-caption="Votes")
                  if(task.votes != "")
                     | #{task.votes}
                  else
                     | 0
