extends ../layout

block content
    h1.
        User Profile ID #{user.id}

    h2.
        Families
    each fam, i in families
            a.list-group-item()
                h4.list-group-item-heading #{fam.name}
                p.list-group-item-text
                    each test, i in families_userrole.families
                            if (test.family==fam._id)
                                #{fam.description} #{test.family} #{fam._id}

    
    each test, i in families_userrole.families
            p
                #{test.family}

    if(saved)
        #{saved}
    form(action='/users/profile/'+user.id,method='POST',name='updateuser',enctype='application/x-www-form-urlencoded')
        p Alias: 
            input#inputAlias(type='text', value= user.alias, name='alias')
            input(type='hidden',value='PUT',name='_method')
        p 
            button#btnSubmit(type='submit').
                Save